In [2]:
from pinotdb import connect

In [7]:
conn = connect(host='localhost', port=9000, path='/sql', scheme='http')

In [29]:
curs = conn.cursor()

In [271]:
import pandas as pd

curs.execute("""
select author, title, count(*) changes from wiki
where published_mil > now() - 1*60*1000
group by author, title
order by changes desc
limit 10
""")

df = pd.DataFrame(curs,
                 columns=[item[0] for item in curs.description])
df

            author                                    title  changes
0       Transpoman  Category:United States restaurant stubs        2
1       Wikishovel            Piatra Craiului National Park        2
2       Transpoman             Category:New York City stubs        2
3    115.187.41.73                  Deputy Director-General        2
4       Transpoman  Category:New York City restaurant stubs        2
5      Neveselbert                    User talk:Neveselbert        1
6       ClueBot NG                                    SCOBY        1
7        Odecalchi              List of Orientalist artists        1
8      Englandlove                   Category:Web analytics        1
9  157.193.240.106                          Semantic triple        1